:root {
  --web1-pink: #fa97c2;
  --web1-blue: #2fa0d5;
  --web1-green: #73c926;
}

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1,
h2,
h3,
h4 {
  font-family: "Changa One", cursive;
  font-weight: 400;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
}

/* Header */
#navbarSupportedContent a {
  font-weight: bold;
  padding: 0 1.25rem;
  color: black;
  display: block;
}

#navbarSupportedContent li.active a {
  color: var(--web1-blue);
}
#formSearch input {
  width: 8rem;
}
#formSearch i {
  color: var(--web1-green);
  font-weight: bold;
}

/* banner */
#banner {
  background: url(../images/bg-banner.gif);
}

#banner > div {
  background: url(../images/logo_bg.png) left top no-repeat,
    url(../images/search_bg.png) right top no-repeat;
  padding: 5rem 0 3rem 0;
}

#banner a {
  background-color: var(--web1-pink);
  font-weight: bold;
  color: white;
  font-size: 2rem;
  font-family: "Changa One";
}

#banner .carousel-item {
  min-height: 15rem;
}

#banner .carousel-indicators li {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 1.2rem;
  border: none;
  margin: 0 0.25rem;
  position: relative;
}
#banner .carousel-indicators li span {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.6rem;
  border: none;
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  text-align: left;
  text-indent: -99999px;
}
#banner .carousel-indicators li.active span {
  background-color: var(--web1-green);
}

/* Products */
.readmore {
  color: var(--web1-blue);
  margin-top: -3px;
}

/* About us */
#aboutus {
  background-color: var(--web1-pink);
}

#formSign {
  border-style: dashed !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
}

/* Date */
#news .date {
  background-color: var(--web1-green);
}

/* Footer */
#menuFooter{
  background: url(../images/bg-footer.gif);
}

#menuFooter a{
  color: white;
  font-weight: bold;
  font-family: 'Changa One';
  display: block;
  padding: 0 2rem;
}
#menuFooter a.active{
  color: var(--web1-pink);
}

/* Modal Login */
#formLogin button[type='submit']{
  background-color: var(--web1-blue);
  color: #fff;
}
